*{  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: darkkhaki;
    height: 100vh;
    width: 100vw;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

p#texto{
    text-align: justify;
    font-size: 0.8em;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    transition: width .3s , height .3s ;
}

section#login > div#imagem{
    display: block;
    background-image: url('../imagens/pexels-pixabay-2363.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}

.campo{
    background-color: darkgoldenrod;
    display: block;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    border: 2px solid darkgoldenrod;
}

.campo > label{
    display: none;
}

.campo > span{
    color: aliceblue;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateX(-4px);
}

.campo > input{
    background-color: rgb(190, 93, 113);
    font-size: 1em;
    height: 100%;
    border-radius: 10px;
    padding: 4px;
    width: calc(100%-44px);
    transform: translate(34px,-42px);
    
}

#esq{
    display: block;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

#esq:hover{
    background-color: darkkhaki;
    color: aliceblue;
}

#env{
    display: block;
    font-size: 1.1em;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color:  rgb(201, 65, 65);
    color: aliceblue;
    border-radius: 5px;
}
#env:hover{
    background-color: darkkhaki;
}



